.t8t-events-viewer
  display: flex
  flex-direction: column
  box-sizing: border-box

.t8t-events-viewer__hd
  box-sizing: border-box

.t8t-events-viewer__bd
  flex: 1
  box-sizing: border-box

.t8t-events-viewer__ft
  box-sizing: border-box

.t8t-lbar-tilte
  position: relative
  padding-left: 20px
  color: #666
  font-size: 16px
  font-weight: bold
  &:before
    content: ''
    display: block
    position: absolute
    left: 0
    width: 3px
    height: 40px
    background-color: #409EFF

ul.t8t-events-list
  list-style: none
  & li
    height: 30px
    line-height: 30px
    padding: 10px 20px
    & + li
      border-top: 1px solid #ededef
